<h3><a class="btn btn-secondary"
        href="/notes/add">New</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Notes list</h3>

{{#each list}}
<div class="card my-3">
    <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{this.date}}</h6>
        <p class="card-text">{{this.content}}</p>
        <a href="/notes/edit/{{this._id}}" class="card-link">Edit</a>
        <a href="/notes/delete/{{this._id}}" class="card-link">Delete</a>
    </div>
</div>
{{/each}}